<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="icon" href="favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>talk</title>
</head>
<body>
<div>
    <div class="left">

    </div>
    <div class="right">

        <div class="message-box">
            <ul>
                <li class="your-message"><p></p></li>
                <li class="my-message"><p></p></li>
            </ul>
        </div>
        <div class="input-box">
            <label>
                <textarea maxlength="500" style="height: 70px;">
                </textarea>
            </label>
            <button class="send-btn">发送</button>
        </div>

    </div>
</div>

</body>
</html>
